.App {
  text-align: center;
}

.app-name {
  text-align: center;
  color: red;
}

#login-btn {
  background-color: rgb(57, 189, 57);
  width: 80px;
  font-family:'Courier New', Courier, monospace;
  font-weight: 700;
  cursor: pointer;
}

#reset-pswd {
  padding-left: 20px;
  font-weight: 600;
}
#home-btn {
  background-color: rgb(57, 189, 57);
  width: 80px;
  cursor: pointer;
}

#sign-up-btn, #register-btn {
  background-color: orange;
  width: 80px;
  cursor: pointer;
}

#register, #forgot-hdr {
  color: red;
}


li {
  list-style-type: none;
}

.edit-btn {
  margin-right: 25px;
  background-color: rgb(75, 75, 236);
  color: white;
}

.delete-btn {
  margin-left: 25px;
  background-color: red;
  color: white;
}

#logout-btn, #addTodo-btn {
  background-color: rgb(57, 189, 57);
  width: 80px;
  cursor: pointer;
  font-weight: 600;
}

#todo-list {
  padding-top: 10%;
}

#reset-btn {
  background-color: orange;
  color: white;
  border-color: red;
  cursor: pointer;
}

#reset-btn:hover {
  background-color: rgba(255, 166, 0, 0.426);
  color: green;
}

#email-txt {
  font-weight: 666;
}